* {
	margin:0;
	padding:0;
}

body {
	background-color: black;
	color: white;
	display: flex;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info-box, .entry-box, .experience-box {
	border: 1px solid white;
	border-radius: 5px;
}